/* FOR ALL PAGES */

/* NAVIGATION BAR*/
.allpage-navigation {
  display: flex;
  justify-content: center;
}

.navigation-content {
  width: 90%;
  padding: 40px 40px 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navigation {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.navigation a {
  padding: 15px;
    cursor: pointer;
    font-family: "Kabel",sans-serif;
    src:url(/Kabel/Kabel_Regular.ttf);
    color: #FFFFFF;
}

.navigation a:hover {
    color: rgba(181, 71, 60);
}

.navigation-logo {
  max-width: 150px;
}
/* END */


/* BODY */
body {
  background-image: url(/img/paul-volkmer-qVotvbsuM_c-unsplash.jpeg);
  background-repeat: repeat;
}

.body:before {
    /* content is required when using :after */
    content: "";
    /* animation */
    animation: grain 8s steps(10) infinite;
    /* The grainy image */
    background-image: url("/img/paper_1.png");
    /* Specify a height and width above and beyond the page header for movement */
    height: 300%;
    width: 300%;
    left: -50%;
    top: -100%;
    /* We're using opacity in place of a transparent image */
    opacity: 0.9;
    /* We'll need this when the animation kicks in to hold the position of the texture */
    position: fixed;
}

@keyframes grain {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-10%, 10%) }
}

.website-row {
  display: flex;
  clear:both;
}

.website-column {
  /*float: left;*/
  padding: 30px;
  margin-top: 30px;
}

/* Left column */
.website-column.left {
  width: 25%;
  z-index: 5;
  justify-content: center;
}

/* Column with main content*/
.website-column.right {
  width: 75%;
}

/* Puts columns in a row */
.website-row:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (max-width: 768px) {
  .website-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  
  .website-column.left, .website-column.right {
    width: 100%;
  }
}

/* TYPOGRAPHY */
h1 {
    font-family: "Kabel",sans-serif;
    src:url(/Kabel/Kabel_Regular.ttf);
    color: #FFFFFF;
    text-shadow: -1px -1px 4px rgba(0, 0, 0, .35);
    filter: dropshadow(color=#000000, offx=1, offy=1);
    font-size: 40px;
    letter-spacing: 1.0px;
    margin-left: 30px;
}

h2 {
    font-family: "Kabel",sans-serif;
    src:url(/Kabel/Kabel_Regular.ttf);
    color: #FFFFFF;
  text-shadow: -1px -1px 4px rgba(0, 0, 0, .35);
  filter: dropshadow(color=#000000, offx=1, offy=1);
  font-size: 16px;
  letter-spacing: 1.0px;
  margin-left: 35px;
}

h3 {
    font-family: "Kabel",sans-serif;
    src:url(/Kabel/Kabel_Regular.ttf);
    color: #FFFFFF;
  text-shadow: -1px -1px 4px rgba(0, 0, 0, .35);
  filter: dropshadow(color=#000000, offx=1, offy=1);
  font-size: 14px;
  letter-spacing: 1.0px;
  margin-top: 5px;
  margin-left: 35px;
  text-decoration: none;
}

p {
    font-family: "Kabel",sans-serif;
    src:url(/Kabel/Kabel_Regular.ttf);
    color: #FFFFFF;
  text-shadow: -1px -1px 4px rgba(0, 0, 0, .35);
  filter: dropshadow(color=#000000, offx=1, offy=1);
  font-size: 16px;
  letter-spacing: 1.0px;
  margin-left: 35px;
}

a {
    font-family: "Kabel",sans-serif;
    src:url(/Kabel/Kabel_Regular.ttf);
    color: #FFFFFF;
  text-shadow: -1px -1px 4px rgba(0, 0, 0, .35);
  filter: dropshadow(color=#000000, offx=1, offy=1);
  color: rgba(255, 255, 255, .75);
  text-decoration: none;
}

a:hover {
  color: rgba(181, 71, 60);
}
/* END */


/* INDEX MAIN PAGE */
/* hardware accelatator class */	
	.trans3d {
		-webkit-transform-style: preserve-3d;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform-style: preserve-3d;
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform-style:preserve-3d;
		-ms-transform: translate3d(0, 0, 0);
		transform-style:preserve-3d;
		transform: translate3d(0, 0, 0);

		/*-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility:hidden;
		backface-visibility:hidden;*/
	}
	
	#contentContainer {
		position:absolute;
		margin-left:-500px;
		margin-top:-500px;
		left:50%;
		top:50%;
		width:1000px;
		height:1000px;
	}

@media only screen and (max-width: 1090px) {
  #contentContainer {
    display: none;
  }
}

	#carouselContainer {
		position:absolute;
		margin-left:-500px;
		margin-top:-500px;
		left:50%;
		top:50%;
		width:1000px;
		height:1000px;
	}
	
	.carouselItem {
		width:320px;
		height:130px;
		position:absolute;
		left:50%;
		top:50%;
		margin-left:-160px;
		margin-top:-90px;
		visibility:hidden;
	}
	
	.carouselItemInner {
		width:330px;
		height:140px;
		position:absolute;
		background-color:rgba(255, 255, 255, .0);
		color:black;
		font-size:30px;
		left:50%;
		top:50%;
		margin-left:-160px;
		margin-top:-160px;
		text-align:center;
	}
/* END */

/* INDEX LAID OUT PORTFOLIO */
.index-portfolio-no-carousel {
    margin-top:500px;
}
/* END */

/* FOOTER CSS */
.brand-footer {
  display: flex;
  justify-content: center;
}

.footercontent {
  margin: 40px 20px 40px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

span.footerlisting {
  list-style: none;
    width:30%;
  line-height: 25px;
  margin: 0px 20px 0px 20px;
}
/* END */

/* PORTFOLIO LETTING GO */
/* SPECIAL COLUMNS*/
.letting-go-text {
    width:100%;
    justify-content: center;
}

.letting-go-desktop {
    width: 100%;
    justify-content: center;
    margin: 30px;
}

.letting-go-phone {
    width: 100%;
    justify-content: center;
}

/* SPECIAL COLUMNS - MEDIA QUERY */
@media only screen and (max-width: 1090px) {
    .letting-go-desktop {
        display: none;
    }
}

@media only screen and (min-width: 1091px) {
    .letting-go-phone {
        display: none;
    }
}

/* SLIDER */
#slider {
  position: relative;
  overflow: hidden;
  margin-left: 240px;
    /*margin: 0px auto 0 auto;*/
  /*border-radius: 4px;*/
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 400px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  /*margin: 0;
  padding: 0;*/
  width: 1110px;
  height: 700px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

a.control_prev,
a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  /*background: #2a2a2a;*/
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover,
a.control_next:hover {
  opacity: 0;
  -webkit-transition: all 0.2s ease;
}

/*a.control_prev {
  border-radius: 0 2px 2px 0;
}*/

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

<<<<<<< HEAD
/* END */
=======



/* Carousel styles */
>>>>>>> 36104dc78edccc8013b51345dfdcd84502ed18f9
/* END */
