/* 16PX = 1EM */

+@import url(css/reset.css);

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}


/* ALL PAGES */
html {
    background-image: url(/img/background-tiles/background-tile.jpg);
    background-size: 150px;
    background-repeat: repeat;
    scroll-behavior: smooth;
}

body {
/*    overflow: hidden;*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.arrow-to-top-black {
    display:flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, .8);
    text-shadow: none;
    padding: 2.5em;
}

.arrow-to-top-white {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 2.5em;
}

.allpage-row {
    display: flex;
    clear: both;
}

allpage-glue {}



/* TYPOGRAPHY */
.title {
    font-family: "Kabel", "Raleway";
    src: url(/Kabel/Kabel_Regular.ttf);
    color: rgba(255, 255, 255, 1.0);
    font-weight: bold;
    font-size: 2.5em;
/*    letter-spacing: 0.06em;*/
    text-shadow: -1px -1px 4px rgba(0, 0, 0, .8);
    filter: dropshadow(color=#000000, offx=1, offy=1);
}

.subtitle {
    font-family: "Raleway";
    color: rgba(255, 255, 255, 1.0);
    font-weight: 100;
    font-size: 1.0em;
    letter-spacing: normal;
    text-transform: uppercase;
    text-shadow: -1px -1px 4px rgba(0, 0, 0, .8);
    filter: dropshadow(color=#000000, offx=1, offy=1);
    margin-top: -0.5em;
    margin-bottom: 2.5em;
}

h1 {
    font-family: "Raleway";
    color: rgba(255, 255, 255, 1.0);
    font-size: 2.0em;
    font-weight: 500;
    letter-spacing: 0.04em;
    text-shadow: -1px -1px 4px rgba(0, 0, 0, .8);
    filter: dropshadow(color=#000000, offx=1, offy=1);
}

h2 {
    font-family: "Raleway";
    color: rgba(255, 255, 255, 1.0);
    font-size: 1.5em;
    font-weight: 500;
    text-shadow: -1px -1px 4px rgba(0, 0, 0, .8);
    margin-top: 1.0em;
    margin-bottom: 0.5em;
}

h3 {
    font-family: "Raleway";
    color: rgba(225, 225, 225, 0.9);
    font-size: 1.15em;
    font-weight: 700;
/*    letter-spacing: 0.04em;*/
    text-shadow: -1px -1px 4px rgba(0, 0, 0, .8);
    filter: dropshadow(color=#000000, offx=1, offy=1);
    text-decoration: none;
    margin-top: 2.0em;
    margin-bottom: 0.5em;
}

p {
    font-family: "Raleway";
    color: rgba(255, 255, 255, 1.0);
    font-size: 1.15em;
    line-height: 1.5;
/*    text-align: justify;*/
    text-shadow: -1px -1px 4px rgba(0, 0, 0, .8);
    filter: dropshadow(color=#000000, offx=1, offy=1);
    margin-top: -0.5em;
}

a {
    font-family: "Raleway";
    color: rgba(255, 255, 255, 1.0);
    text-shadow: -1px -1px 4px rgba(0, 0, 0, .8);
    filter: dropshadow(color=#000000, offx=1, offy=1);
    color: rgba(255, 255, 255, .75);
    text-decoration: none;
}

a:link {
/*    color:RGBA(67, 171, 201, 1.0);*/
}

a:hover {
    color: RGBA(67, 171, 201, 1.0);
    cursor: pointer;
    text-decoration: underline;
}

a:visited {
/*    color: RGBA(67, 171, 201, 0.5);*/
}

a:active {
    color: RGBA(192, 47, 29, 1.0);
    text-decoration: underline;
}

.allpage-navigation a {
    text-transform: uppercase;
    cursor: pointer;
}

.portfolio-section-title {
    text-align: center;
    text-transform: uppercase;
}

.footer-section-title {
    text-align: center;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .8);
    text-shadow: none;
}

.footer-bio-text {
    width: 70ch;
    color: rgba(0, 0, 0, .8);
    text-shadow: none;
}

.portfolio-grid-gallery-headings {
    font-size: 1.5em;
    text-align: center;
    padding: 1em;
}

.portfolio-piece-description {
    font-size: 0.7em;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: -1px -1px 4px rgba(0, 0, 0, .8);
    filter: dropshadow(color=#000000, offx=1, offy=1);
    text-align: center;
    padding: 0px 0px 20px 0px;
    margin-top: 5px;
}

.portfolio-grid-subtitle {
    font-size: 0.7em;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: -1px -1px 4px rgba(0, 0, 0, .8);
    filter: dropshadow(color=#000000, offx=1, offy=1);
    text-align: center;
    padding: 0px 0px 20px 0px;
    margin-top: 5px;
}

.fun-fact-text {
    font-family: "Raleway";
    color: rgba(225, 225, 225, 0.9);
}

.comic-reader_desktop-text {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.title-comic-reader {
    font-family: "Kabel", "Raleway";
    src: url(/Kabel/Kabel_Regular.ttf);
    color: rgba(255, 255, 255, 1.0);
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
    text-shadow: -1px -1px 4px rgba(0, 0, 0, .8);
    filter: dropshadow(color=#000000, offx=1, offy=1);
    margin-top: 1.0em;
}

.subtitle-comic-reader {
    font-family: "Raleway";
    color: rgba(255, 255, 255, 1.0);
    font-weight: 100;
    font-size: 1.0em;
    letter-spacing: normal;
    text-transform: uppercase;
    text-align: center;
    text-shadow: -1px -1px 4px rgba(0, 0, 0, .8);
    filter: dropshadow(color=#000000, offx=1, offy=1);
    margin-top: -0.5em;
    margin-bottom: 1.0em;
}



/* 404 PAGE*/
.error-screen-column {
    display: flex;
    margin: 40px auto 20px auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 90vh;
}



/* NAVIGATION BAR*/
.allpage-navigation {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 20px 45px 20px 45px;
}

.nav-logo {
    width: 50px;
}

.navigation-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
}



/* HERO */
.hero-section-desktop {
    height: 85vh;
}

.hero-section-row:after {
    content: "";
    display: table;
    clear: both;
}

.hero-section-desktop-column {
    width: 35%;
    height: 45vh;
    position: -webkit-sticky;
    position: sticky;
    top: 5vh;
    left: 6vh;
    background: rgba(255, 68, 0, 0);
    margin: 0px 40px 40px 60px;
}

.hero-section-tablet-column {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 40px auto 20px auto;
    text-align: center;   
}



/* PORTFOLIO PROJECT */
.portfolio-project-section {}

.portfolio-project-desktop-column {
    width: 35%;
    height: 45vh;
    position: -webkit-sticky;
    position: sticky;
    top: 5vh;
    left: 6vh;
    background: rgba(255, 68, 0, 0);
    margin: 0px 40px 40px 60px;
}

.portfolio-project-tablet-column {
    display: flex;
    width: 80%;
    margin: 40px auto 20px auto;
    flex-wrap: wrap;
}

.portfolio-project-gallery {
    display: flex;
    width: 65%;
    margin: 30px 60px 40px 40px;
}

.portfolio-project-portrait {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-project-landscape {
    width: 100%;
}



/* FOOTER CSS */
.allpage-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    background-image: url(/img/background-tiles/background-tile-footer.jpg);
    background-size: 150px;
    background-repeat: repeat;
    margin-top: 100px;
    height: 85vh;
    padding: 60px;
}

.footer-logo {
    width: 50px;
}

.social-media-icon-group {
    display: flex;
    flex-direction: row;
}

.social-media-icon {
    padding: 2.5em;
    text-shadow: none;
    color: rgba(0, 0, 0, .8);
}



/* CAROUSEL */
/* hardware accelatator class */
.trans3d {
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform-style: preserve-3d;
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform-style: preserve-3d;
    -ms-transform: translate3d(0, 0, 0);
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 0);

    -webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility:hidden;
		backface-visibility:hidden;
}

#Content-Container {
    position: absolute;
    margin-left: -500px;
    margin-top: -500px;
    left: 50%;
    top: 50%;
    width: 1000px;
    height: 105vh;
    overflow: hidden;
}

#Carousel-Container {
    position: absolute;
    margin-left: -500px;
    margin-top: -500px;
    left: 50%;
    top: 50%;
    width: 1000px;
    height: 1000px;
}

.Carousel-Item {
    width: 320px;
    height: 130px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -160px;
    margin-top: -90px;
    visibility: hidden;
}

.Carousel-Item-Inner {
    width: 350px;
    height: 140px;
    position: absolute;
    background-color: rgba(255, 255, 255, .0);
    color: black;
    font-size: 1.5em;
    left: 50%;
    top: 50%;
    margin-left: -160px;
    margin-top: -160px;
    text-align: center;
}

.Carousel-Instruction-Text {
    text-align: right;
    text-transform: uppercase;
    margin-top: 270px;
    margin-right: 60px;
}



/* PORTFOLIO GRID GALLERY */
.portfolio-grid-gallery-title {
    margin-top: 150px;
    padding: 2em;
}

.portfolio-grid-gallery {
    display: grid;
    grid-template-columns: auto auto auto;
}

.portfolio-grid-gallery-section {
    padding: 30px 0px 30px 0px;
    font-size: 1em;
}

.portfolio-grid-gallery-section-inner {
    align-content: center;
    text-align: center;
    margin-top: 10px;
}

.portfolio-grid-gallery-img {
    border-radius: 10px;
    width: 450px;
}

.portfolio-grid-gallery-arrow {
    margin-bottom: 150px;
    padding: 2em;
}



/* COMIC READERS */
/* Special Columns*/
.comic-reader_text {
    width: 100%;
    text-align: center;
}

.comic-reader_desktop {
    width: 100%;
    margin: auto;
}

.comic-reader_phone {
    display: block;
    width: 100%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.comic-tablet-width {
    flex-direction: column;
    width: 60%;
    margin: auto;
}

.comic-letting-go-background-tablet {
    background-image: url(/img/portfolio/letting-go/!portfolio_letting-go_phone/alina-sandu--portfolio--letting-go--comic--digital-comic--webcomic--demo--original-story--lesbian--romantic-tragedy--80s--eighties--phone--page-000.jpg);
    background-repeat: repeat;
}

.comic-fairy-door-background-tablet {
    background-color: white;
}

.tablet-fairy-door-background {
    background-color: white;
}

/* THE FAIRY DOOR */
#fairy-door_slider {
    position: relative;
    overflow: hidden;
    margin: 10px auto 0px auto;
    border-radius: 4px;
}

#fairy-door_slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 400px;
    list-style: none;
}

#fairy-door_slider ul li {
    position: relative;
    display: block;
    float: left;
    /*margin: 0;
  padding: 0;*/
    width: 1400px;
    height: 404px;
    background: #ccc;
    text-align: center;
    line-height: 300px;
}

/* LETTING GO */
#letting-go_slider {
    position: relative;
    overflow: hidden;
    margin: 10px auto 0px auto;
    border-radius: 4px;
}

#letting-go_slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
}

/* Comic Size: 1110px x 700px */
#letting-go_slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 1110px;
    height: 700px;
    /*background: #ccc;*/
}

a.control_prev,
a.control_next {
    position: absolute;
    top: 45%;
    z-index: 999;
    display: block;
    padding: 1% 1%;
    width: auto;
    height: auto;
    /*background: #2a2a2a;*/
    color: rgba(255, 255, 255, 1.0);
    opacity: 0.8;
    cursor: pointer;
}

a.control_prev:hover,
a.control_next:hover {
    opacity: 0.6;
    -webkit-transition: all 0.2s ease;
}

a.control_prev {
    border-radius: 0 2px 2px 0;
}

a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
}






/* ALL MEDIA QUERY */
/* General Sizes*/
/* Hi-Res Laptops and Desktops */
@media only screen 
    and (min-width: 1281px) {
        .hero-section-tablet-column {
            display: none;
        }
        .portfolio-project-tablet-column {
            display: none;
        }
        .comic-letting-go-background-tablet {
            display:none;
        }
}

/* Laptops and Desktops */
@media only screen and (min-width: 1025px) {}

/* Tablet and Lo-Res Laptops and Desktops */
@media only screen and (min-width: 961px) {}

/* Tablets and iPads */
@media only screen and (min-width: 641px) {}

/* Smaller Tablets and E-Readers */
@media only screen and (min-width: 481px) {}

/* Smartphones, Android phones, iPhones */
@media only screen and (min-width: 320px) {}



/* Specific dimensions */

/* All iPad Sizes*/
/* iPad 1, 2, Mini and Air */
@media only screen
    and (max-width: 768px)
    and (max-height: 1024px) {
        .allpage-row {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .allpage-footer {
            height: 88vh;
        }
        .footer-bio-text {
            width: auto;
        }
        
        .hero-section-desktop {
            display: none;
        }
        .hero-section-desktop-column {
            display: none;
        }
        .carousel-portfolio-gallery {
            display: none;
        }
        .Carousel-Instruction-Text {
          display: none;
        }
        
        .portfolio-grid-gallery-title {
            margin-top: 50px;
            padding: 2em;
        }
        .portfolio-grid-gallery {
          grid-template-columns: auto auto;
        }
        .portfolio-grid-gallery-img {
            width: 300px;
        }
        
        .portfolio-project-desktop-column {
            display:none;
        }
        .portfolio-project-gallery {
            display: flex;
            width: 100%;
            margin: auto;
            padding-top: 3em;
            padding-bottom: 13em;
        }
        .portfolio-project-portrait {
            width: 100%;
        }
        
        .comic-reader_desktop {
            display: none;
        }
        .comic-reader_desktop-text {
            display: none;
        }
        .title-comic-reader {
            display: none;
        }
        .subtitle-comic-reader {
            display: none;
        }
        .comic-tablet-width {
            width: 80%;
        }        
}


/* iPad 3, 4 and Pro 9.7" also iPad 6th gen */
@media only screen
    and (max-width: 1536px)
    and (max-height: 2048px) {
        .allpage-row {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .allpage-footer {
            height: 88vh;
        }
        .footer-bio-text {
            width: auto;
        }
        
        .hero-section-desktop {
            display: none;
        }
        .hero-section-desktop-column {
            display: none;
        }
        .carousel-portfolio-gallery {
            display: none;
        }
        .Carousel-Instruction-Text {
          display: none;
        }
        
        .nav-logo {
            width: 5em;
        }
        .footer-logo {
            width: 5em;
        }
        
        .portfolio-grid-gallery-title {
            margin-top: 3em;
            padding: 2em;
        }
        .portfolio-grid-gallery {
          grid-template-columns: auto auto;
        }
        .portfolio-grid-gallery-img {
            width: 300px;
        }
        
        .portfolio-project-desktop-column {
            display:none;
        }
        .portfolio-project-gallery {
            display: flex;
            width: 100%;
            margin: auto;
            padding-top: 3em;
            padding-bottom: 13em;
        }
        .portfolio-project-portrait {
            width: 100%;
        }
        
        .comic-reader_desktop {
            display: none;
        }
        .comic-reader_desktop-text {
            display: none;
        }
        .title-comic-reader {
            display: none;
        }
        .subtitle-comic-reader {
            display: none;
        }
        .comic-tablet-width {
            width: 60%;
        }        
}


/* iPad Pro 10.5" */
@media only screen
    and (max-width: 834px)
    and (max-height: 1112px) {
        .allpage-row {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .allpage-footer {
            height: 88vh;
        }
        .footer-bio-text {
            width: auto;
        }
        
        .hero-section-desktop {
            display: none;
        }
        .hero-section-desktop-column {
            display: none;
        }
        .carousel-portfolio-gallery {
            display: none;
        }
        .Carousel-Instruction-Text {
          display: none;
        }
        
        .portfolio-grid-gallery-title {
            margin-top: 50px;
            padding: 2em;
        }
        .portfolio-grid-gallery {
          grid-template-columns: auto auto;
        }
        .portfolio-grid-gallery-img {
            width: 350px;
        }
        
        .portfolio-project-desktop-column {
            display:none;
        }
        .portfolio-project-gallery {
            display: flex;
            width: 100%;
            margin: auto;
            padding-top: 3em;
        }
        .portfolio-project-portrait {
            width: 100%;
        }
        
        .comic-reader_desktop {
            display: none;
        }
        .comic-reader_desktop-text {
            display: none;
        }
        .title-comic-reader {
            display: none;
        }
        .subtitle-comic-reader {
            display: none;
        }
        .comic-tablet-width {
            width: 80%;
        }
}


/* iPad Pro 12.9" */
 @media only screen
    and (max-width: 1024px)
     and (max-height: 1366px) {
         .allpage-row {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .allpage-footer {
            height: 88vh;
        }    
        .footer-bio-text {
            width: auto;
        }
         
        .hero-section-desktop {
            display: none;
        }
        .hero-section-desktop-column {
            display: none;
        }
        .carousel-portfolio-gallery {
            display: none;
        }
        .Carousel-Instruction-Text {
          display: none;
        }
         
        .portfolio-grid-gallery-title {
            margin-top: 50px;
            padding: 2em;
        }
        .portfolio-grid-gallery {
          grid-template-columns: auto auto;
        }
        .portfolio-grid-gallery-img {
            width: 400px;
        }
         
        .portfolio-project-desktop-column {
            display:none;
        }
        .portfolio-project-gallery {
            display: flex;
            width: 100%;
            margin: auto;
            padding-top: 3em;
        }
        .portfolio-project-portrait {
            width: 80%;
        }
         
        .comic-reader_desktop {
            display: none;
        }
        .comic-reader_desktop-text {
            display: none;
        }
        .title-comic-reader {
            display: none;
        }
        .subtitle-comic-reader {
            display: none;
        }
        .comic-tablet-width {
            width: 70%;
        }
}


/* All iPhone Sizes*/
/* iPhone 4 and 4S */
@media only screen
    and (max-width: 320px)
    and (max-height: 480px) {
        .allpage-row {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .allpage-footer {
            height: 88vh;
        }
        .footer-bio-text {
            width: auto;
        }
        
        .hero-section-desktop {
            display: none;
        }
        .hero-section-desktop-column {
            display: none;
        }
        .carousel-portfolio-gallery {
            display: none;
        }
        .Carousel-Instruction-Text {
          display: none;
        }
        
        .portfolio-grid-gallery-title {
            margin-top: 50px;
            padding: 2em;
        }
        .portfolio-grid-gallery {
          grid-template-columns: auto;
        }
        .portfolio-grid-gallery-img {
            width: 100%;
        }
        
        .portfolio-project-desktop-column {
            display:none;
        }
        .portfolio-project-gallery {
            display: flex;
            width: 100%;
            margin: auto;
            padding-top: 3em;
        }
        .portfolio-project-portrait {
            width: 100%;
        }
        
        .comic-reader_desktop {
            display: none;
        }
        .comic-reader_desktop-text {
            display: none;
        }
        .title-comic-reader {
            display: none;
        }
        .subtitle-comic-reader {
            display: none;
        }
        .comic-tablet-width {
            width: 80%;
        }        
}

@media only screen
    and (max-width: 640px)
    and (max-height: 960px) {
        .allpage-row {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .allpage-footer {
            height: 88vh;
        }
        .footer-bio-text {
            width: auto;
        }
        
        .hero-section-desktop {
            display: none;
        }
        .hero-section-desktop-column {
            display: none;
        }
        .carousel-portfolio-gallery {
            display: none;
        }
        .Carousel-Instruction-Text {
          display: none;
        }
        
        .portfolio-grid-gallery-title {
            margin-top: 50px;
            padding: 2em;
        }
        .portfolio-grid-gallery {
          grid-template-columns: auto;
        }
        .portfolio-grid-gallery-img {
            width: 100%;
        }
        
        .portfolio-project-desktop-column {
            display:none;
        }
        .portfolio-project-gallery {
            display: flex;
            width: 100%;
            margin: auto;
            padding-top: 3em;
        }
        .portfolio-project-portrait {
            width: 100%;
        }
        
        .comic-reader_desktop {
            display: none;
        }
        .comic-reader_desktop-text {
            display: none;
        }
        .title-comic-reader {
            display: none;
        }
        .subtitle-comic-reader {
            display: none;
        }
        .comic-tablet-width {
            width: 80%;
        }
}


/* iPhone 5, 5S, 5C and 5SE */
@media only screen
    and (max-width: 320px)
    and (max-height: 568px) {
        .allpage-row {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .allpage-footer {
            height: 88vh;
        }
        .footer-bio-text {
            width: auto;
        }
        
        .hero-section-desktop {
            display: none;
        }
        .hero-section-desktop-column {
            display: none;
        }
        .carousel-portfolio-gallery {
            display: none;
        }
        .Carousel-Instruction-Text {
          display: none;
        }
        
        .portfolio-grid-gallery-title {
            margin-top: 50px;
            padding: 2em;
        }
        .portfolio-grid-gallery {
          grid-template-columns: auto;
        }
        .portfolio-grid-gallery-img {
            width: 100%;
        }
        
        .portfolio-project-desktop-column {
            display:none;
        }
        .portfolio-project-gallery {
            display: flex;
            width: 100%;
            margin: auto;
            padding-top: 3em;
        }
        .portfolio-project-portrait {
            width: 100%;
        }
        
        .comic-reader_desktop {
            display: none;
        }
        .comic-reader_desktop-text {
            display: none;
        }
        .title-comic-reader {
            display: none;
        }
        .subtitle-comic-reader {
            display: none;
        }
        .comic-tablet-width {
            width: 80%;
        }
}

@media only screen
    and (max-width: 640px)
    and (max-height: 1136px) {
        .allpage-row {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .allpage-footer {
            height: 88vh;
        }
        .footer-bio-text {
            width: auto;
        }
        
        .hero-section-desktop {
            display: none;
        }
        .hero-section-desktop-column {
            display: none;
        }
        .carousel-portfolio-gallery {
            display: none;
        }
        .Carousel-Instruction-Text {
          display: none;
        }
        
        .portfolio-grid-gallery-title {
            margin-top: 50px;
            padding: 2em;
        }
        .portfolio-grid-gallery {
          grid-template-columns: auto;
        }
        .portfolio-grid-gallery-img {
            width: 100%;
        }
        
        .portfolio-project-desktop-column {
            display:none;
        }
        .portfolio-project-gallery {
            display: flex;
            width: 100%;
            margin: auto;
            padding-top: 3em;
        }
        .portfolio-project-portrait {
            width: 100%;
        }
        
        .comic-reader_desktop {
            display: none;
        }
        .comic-reader_desktop-text {
            display: none;
        }
        .title-comic-reader {
            display: none;
        }
        .subtitle-comic-reader {
            display: none;
        }
        .comic-tablet-width {
            width: 80%;
        }
}


/* iPhone 6, 6S, 7 and 8 */
@media only screen
    and (max-width: 375px)
    and (max-height: 667px) {
        .allpage-row {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .allpage-footer {
            height: 88vh;
        }
        .footer-bio-text {
            width: auto;
        }
        
        .hero-section-desktop {
            display: none;
        }
        .hero-section-desktop-column {
            display: none;
        }
        .carousel-portfolio-gallery {
            display: none;
        }
        .Carousel-Instruction-Text {
          display: none;
        }
        
        .portfolio-grid-gallery-title {
            margin-top: 50px;
            padding: 2em;
        }
        .portfolio-grid-gallery {
          grid-template-columns: auto;
        }
        .portfolio-grid-gallery-img {
            width: 100%;
        }
        
        .portfolio-project-desktop-column {
            display:none;
        }
        .portfolio-project-gallery {
            display: flex;
            width: 100%;
            margin: auto;
            padding-top: 3em;
        }
        .portfolio-project-portrait {
            width: 100%;
        }
        
        .comic-reader_desktop {
            display: none;
        }
        .comic-reader_desktop-text {
            display: none;
        }
        .title-comic-reader {
            display: none;
        }
        .subtitle-comic-reader {
            display: none;
        }
        .comic-tablet-width {
            width: 80%;
        }
}

@media only screen
    and (max-width: 750px)
    and (max-height: 1334px) {
        .allpage-row {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .allpage-footer {
            height: 88vh;
        }
        .footer-bio-text {
            width: auto;
        }
        
        .hero-section-desktop {
            display: none;
        }
        .hero-section-desktop-column {
            display: none;
        }
        .carousel-portfolio-gallery {
            display: none;
        }
        .Carousel-Instruction-Text {
          display: none;
        }
        
        .portfolio-grid-gallery-title {
            margin-top: 50px;
            padding: 2em;
        }
        .portfolio-grid-gallery {
          grid-template-columns: auto;
        }
        .portfolio-grid-gallery-img {
            width: 100%;
        }
        
        .portfolio-project-desktop-column {
            display:none;
        }
        .portfolio-project-gallery {
            display: flex;
            width: 100%;
            margin: auto;
            padding-top: 3em;
        }
        .portfolio-project-portrait {
            width: 100%;
        }
        
        .comic-reader_desktop {
            display: none;
        }
        .comic-reader_desktop-text {
            display: none;
        }
        .title-comic-reader {
            display: none;
        }
        .subtitle-comic-reader {
            display: none;
        }
        .comic-tablet-width {
            width: 80%;
        }
}


/* iPhone 6+, 7+ and 8+ */
@media only screen
    and (max-width: 414px)
    and (max-height: 736px) {
        .allpage-row {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .allpage-footer {
            height: 88vh;
        }
        .footer-bio-text {
            width: auto;
        }
        
        .hero-section-desktop {
            display: none;
        }
        .hero-section-desktop-column {
            display: none;
        }
        .carousel-portfolio-gallery {
            display: none;
        }
        .Carousel-Instruction-Text {
          display: none;
        }
        
        .portfolio-grid-gallery-title {
            margin-top: 50px;
            padding: 2em;
        }
        .portfolio-grid-gallery {
          grid-template-columns: auto;
        }
        .portfolio-grid-gallery-img {
            width: 100%;
        }
        
        .portfolio-project-desktop-column {
            display:none;
        }
        .portfolio-project-gallery {
            display: flex;
            width: 100%;
            margin: auto;
            padding-top: 3em;
        }
        .portfolio-project-portrait {
            width: 100%;
        }
        
        .comic-reader_desktop {
            display: none;
        }
        .comic-reader_desktop-text {
            display: none;
        }
        .title-comic-reader {
            display: none;
        }
        .subtitle-comic-reader {
            display: none;
        }
        .comic-tablet-width {
            width: 80%;
        }
}

@media only screen
    and (max-width: 1242px)
    and (max-height: 2208px) {
        .allpage-row {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .allpage-footer {
            height: 88vh;
        }
        .footer-bio-text {
            width: auto;
        }
        
        .hero-section-desktop {
            display: none;
        }
        .hero-section-desktop-column {
            display: none;
        }
        .carousel-portfolio-gallery {
            display: none;
        }
        .Carousel-Instruction-Text {
          display: none;
        }
        
        .portfolio-grid-gallery-title {
            margin-top: 50px;
            padding: 2em;
        }
        .portfolio-grid-gallery {
          grid-template-columns: auto;
        }
        .portfolio-grid-gallery-img {
            width: 100%;
        }
        
        .portfolio-project-desktop-column {
            display:none;
        }
        .portfolio-project-gallery {
            display: flex;
            width: 100%;
            margin: auto;
            padding-top: 3em;
        }
        .portfolio-project-portrait {
            width: 100%;
        }
        
        .comic-reader_desktop {
            display: none;
        }
        .comic-reader_desktop-text {
            display: none;
        }
        .title-comic-reader {
            display: none;
        }
        .subtitle-comic-reader {
            display: none;
        }
        .comic-tablet-width {
            width: 80%;
        }
}


/* iPhone X */
@media only screen
    and (max-width: 375px)
    and (max-height: 812px) {
        .allpage-row {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .allpage-footer {
            height: 88vh;
        }
        .footer-bio-text {
            width: auto;
        }
        
        .hero-section-desktop {
            display: none;
        }
        .hero-section-desktop-column {
            display: none;
        }
        .carousel-portfolio-gallery {
            display: none;
        }
        .Carousel-Instruction-Text {
          display: none;
        }
        
        .portfolio-grid-gallery-title {
            margin-top: 50px;
            padding: 2em;
        }
        .portfolio-grid-gallery {
          grid-template-columns: auto;
        }
        .portfolio-grid-gallery-img {
            width: 100%;
        }
        
        .portfolio-project-desktop-column {
            display:none;
        }
        .portfolio-project-gallery {
            display: flex;
            width: 100%;
            margin: auto;
            padding-top: 3em;
        }
        .portfolio-project-portrait {
            width: 100%;
        }
        
        .comic-reader_desktop {
            display: none;
        }
        .comic-reader_desktop-text {
            display: none;
        }
        .title-comic-reader {
            display: none;
        }
        .subtitle-comic-reader {
            display: none;
        }
        .comic-tablet-width {
            width: 80%;
        }
}

@media only screen
    and (max-width: 1125px)
    and (max-height: 2436px) {
        .allpage-row {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .allpage-footer {
            height: 88vh;
        }
        .footer-bio-text {
            width: auto;
        }
        
        .hero-section-desktop {
            display: none;
        }
        .hero-section-desktop-column {
            display: none;
        }
        .carousel-portfolio-gallery {
            display: none;
        }
        .Carousel-Instruction-Text {
          display: none;
        }
        
        .portfolio-grid-gallery-title {
            margin-top: 50px;
            padding: 2em;
        }
        .portfolio-grid-gallery {
          grid-template-columns: auto;
        }
        .portfolio-grid-gallery-img {
            width: 100%;
        }
        
        .portfolio-project-desktop-column {
            display:none;
        }
        .portfolio-project-gallery {
            display: flex;
            width: 100%;
            margin: auto;
            padding-top: 3em;
        }
        .portfolio-project-portrait {
            width: 100%;
        }
        
        .comic-reader_desktop {
            display: none;
        }
        .comic-reader_desktop-text {
            display: none;
        }
        .title-comic-reader {
            display: none;
        }
        .subtitle-comic-reader {
            display: none;
        }
        .comic-tablet-width {
            width: 80%;
        }
}

/* Xiaomi Mi 9T */
@media only screen
    and (max-width: 360px)
    and (max-height: 780px) {}

@media only screen
    and (max-width: 1080px)
    and (max-height: 2340px) {}


/* Galaxy S3 */
@media only screen
    and (max-width: 320px)
    and (max-height: 640px) {}

@media only screen
    and (max-width: 640px)
    and (max-height: 1280px) {}


/* Galaxy S4, S5, and Note 3 */
/* original size same as S3 */

@media only screen
    and (max-width: 960px)
    and (max-height: 1920px) {}


/* Galaxy S6 */
@media only screen
    and (max-width: 360px)
    and (max-height: 640px) {}

@media only screen
    and (max-width: 1440px)
    and (max-height: 2560px) {}


/* HTC One */
/* Google Pixel */
/* Google Pixel XL */
/* Nexus 4 */
/* Nexus 5 */
/* Nexus 6 and 6P */
/* Windows Phone */

