+@import url(css/reset.css);

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

/* FOR ALL PAGES */
html {
    background-image: url(/img/background-tiles/background-tile.jpg);
    background-size: 150px;
    background-repeat: repeat;
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.arrow-to-top-black {
    color: rgba(0, 0, 0, .8);
    text-shadow: none;
}

.arrow-to-top {
    justify-content: center;
    align-items: center;
}

/* 404 PAGE*/
.error-screen-column {
    display: flex;
    margin: 40px auto 20px auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

/* NAVIGATION BAR*/
.allpage-navigation {
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.navigation-content {
    width: 100%;
    padding: 40px 60px 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navigation {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.navigation a {
    padding: 15px;
    cursor: pointer;
    font-family: "Kabel", sans-serif;
    src: url(/Kabel/Kabel_Regular.ttf);
    color: #FFFFFF;
}

.navigation a:hover {
    color: rgba(181, 71, 60);
}

.nav-logo {
    width: 50px;
}

/* Settings meant for the hamburger menu */
#menuToggle {
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/* Just a quick hamburger */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: white;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* Transform all the slices of hamburger into a crossmark. */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*But let's hide the middle one.*/
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*Ohyeah and the last one should go the other direction*/
#menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*Make this absolute positioned at the top left of the screen*/
#menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 0;
    padding: 50px;
    padding-top: 125px;
    right: -100px;
    background-image: url(/img/background-tiles/background-tile-footer.jpg);
    background-size: 150px;
    background-repeat: repeat;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*And let's fade it in from the left*/
#menuToggle input:checked ~ ul {
  transform: none;
  opacity: 1;
}
/* END */

/* BODY SECTION */
.website-row {
    display: flex;
    clear: both;
}

/* Puts columns in a row */
.website-row:after {
    content: "";
    display: table;
    clear: both;
}

.desktop-index-column {
    /*float: left;*/
    padding: 30px;
    margin: 30px;
}

/* Index column with hero text */
.desktop-index-column.left {
    display: flex;
    width: 35%;
    z-index: 999;
    justify-content: center;
    margin-left: 0px 40px 40px 60px;
}

/* Index column with carousel */
.desktop-index-column.right {
    width: 70%;
}

.tablet-index-column {
    display: flex;
    width: 80%;
    margin: 40px auto 20px auto;
    flex-wrap: wrap;
}

.tablet-portfolio-column {
    display: flex;
    width: 80%;
    margin: 40px auto 20px auto;
    flex-wrap: wrap;
}

.website-content {
    display: flex;
    justify-content: center;
}

.desktop-portfolio-column.left {
    display: flex;
    width: 30%;
    margin: 0px 40px 40px 60px;
    flex-wrap: wrap;
}

.desktop-portfolio-column.right {
    display: flex;
    width: 70%;
    margin: 30px 60px 40px 40px;
}

.desktop-portfolio-aside {
    width: 35%;
    height: 45vh;
    position: -webkit-sticky;
    position: sticky;
    top: 5vh;
    left: 6vh;
    background: rgba(255, 68, 0, 0);
    margin: 0px 40px 40px 60px;
}

.desktop-portfolio-gallery {
    display: flex;
    width: 65%;
    margin: 30px 60px 40px 40px;
}

.portfolio-piece-vertical {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.porttfolio-piece-horizontal {
    width: 100%;
}

/* FOOTER CSS */
.footer-logo {
    width: 50px;
}

.footer-container {
    display: flex;
    margin-top: 100px;
    width: ;
    height: 85vh;
    padding: 60px;
    background-image: url(/img/background-tiles/background-tile-footer.jpg);
    background-size: 150px;
    background-repeat: repeat;
}

.footer-content {
    /*display: flex;*/
    width: 100%;
    /*justify-content: space-between;*/
    flex-wrap: wrap;
}

.footer-social-media-icon {
    padding-right: 2em;
    text-shadow: none;
    color: rgba(0, 0, 0, .8);
}

.below-footer-text {
    text-align: center;
    padding-top:3em;
    padding-bottom:3em;
}

.social-media {
    flex-direction: row;
}

/* END */


/* TYPOGRAPHY */
.title {
    font-family: "Kabel", "Raleway";
    src: url(/Kabel/Kabel_Regular.ttf);
    color: rgba(255, 255, 255, 1.0);
    font-weight: bold;
    font-size: 2.5em;
/*    letter-spacing: 0.06em;*/
    text-shadow: -1px -1px 4px rgba(0, 0, 0, .8);
    filter: dropshadow(color=#000000, offx=1, offy=1);
}

.subtitle {
    font-family: "Raleway";
    color: rgba(255, 255, 255, 1.0);
    font-weight: 100;
    font-size: 1.0em;
    letter-spacing: normal;
    text-transform: uppercase;
    text-shadow: -1px -1px 4px rgba(0, 0, 0, .8);
    filter: dropshadow(color=#000000, offx=1, offy=1);
    margin-top: -0.5em;
    margin-bottom: 2.5em;
}

h1 {
    font-family: "Raleway";
    color: rgba(255, 255, 255, 1.0);
    font-size: 2.0em;
    font-weight: 500;
    letter-spacing: 0.04em;
    text-shadow: -1px -1px 4px rgba(0, 0, 0, .8);
    filter: dropshadow(color=#000000, offx=1, offy=1);
}

h2 {
    font-family: "Raleway";
    color: rgba(255, 255, 255, 1.0);
    font-size: 1.5em;
    font-weight: 500;
    text-shadow: -1px -1px 4px rgba(0, 0, 0, .8);
    margin-top: 1.0em;
    margin-bottom: 0.5em;
}

h3 {
    font-family: "Raleway";
    color: rgba(225, 225, 225, 0.9);
    font-size: 1.15em;
    font-weight: 700;
/*    letter-spacing: 0.04em;*/
    text-shadow: -1px -1px 4px rgba(0, 0, 0, .8);
    filter: dropshadow(color=#000000, offx=1, offy=1);
    text-decoration: none;
    margin-top: 2.0em;
    margin-bottom: 0.5em;
}

p {
    font-family: "Raleway";
    color: rgba(255, 255, 255, 1.0);
    font-size: 1.15em;
    line-height: 1.5;
    text-align: justify;
    text-shadow: -1px -1px 4px rgba(0, 0, 0, .8);
    filter: dropshadow(color=#000000, offx=1, offy=1);
    margin-top: -0.5em;
}

a {
    font-family: "Raleway";
    color: rgba(255, 255, 255, 1.0);
    text-shadow: -1px -1px 4px rgba(0, 0, 0, .8);
    filter: dropshadow(color=#000000, offx=1, offy=1);
    color: rgba(255, 255, 255, .75);
    text-decoration: none;
}

a:link {
/*    color:RGBA(67, 171, 201, 1.0);*/
}

a:hover {
    color: RGBA(67, 171, 201, 1.0);
    cursor: pointer;
    text-decoration: underline;
}

a:visited {
/*    color: RGBA(67, 171, 201, 0.5);*/
}

a:active {
    color: RGBA(192, 47, 29, 1.0);
    text-decoration: underline;
}

.hamburger-menu-text {
    color: rgba(0, 0, 0, .8);
    text-shadow: none;
}

.footer-bio-text {
    width: 70ch;
    color: rgba(0, 0, 0, .8);
    text-shadow: none;
}

.portfolio-piece-description {
    font-size: 0.7em;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: -1px -1px 4px rgba(0, 0, 0, .8);
    filter: dropshadow(color=#000000, offx=1, offy=1);
    text-align: center;
    padding: 0px 0px 20px 0px;
    margin-top: 5px;
}

.portfolio-grid-subtitle {
    font-size: 0.7em;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: -1px -1px 4px rgba(0, 0, 0, .8);
    filter: dropshadow(color=#000000, offx=1, offy=1);
    text-align: center;
    padding: 0px 0px 20px 0px;
    margin-top: 5px;
}

.fun-fact-text {
    font-family: "Raleway";
    color: rgba(225, 225, 225, 0.9);
}

.comic-reader_desktop-text {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.title-comic-reader {
    font-family: "Kabel", "Raleway";
    src: url(/Kabel/Kabel_Regular.ttf);
    color: rgba(255, 255, 255, 1.0);
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
    text-shadow: -1px -1px 4px rgba(0, 0, 0, .8);
    filter: dropshadow(color=#000000, offx=1, offy=1);
    margin-top: 1.0em;
}

.subtitle-comic-reader {
    font-family: "Raleway";
    color: rgba(255, 255, 255, 1.0);
    font-weight: 100;
    font-size: 1.0em;
    letter-spacing: normal;
    text-transform: uppercase;
    text-align: center;
    text-shadow: -1px -1px 4px rgba(0, 0, 0, .8);
    filter: dropshadow(color=#000000, offx=1, offy=1);
    margin-top: -0.5em;
    margin-bottom: 1.0em;
}

/* END */


/* INDEX MAIN PAGE */
/* hardware accelatator class */
.trans3d {
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform-style: preserve-3d;
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform-style: preserve-3d;
    -ms-transform: translate3d(0, 0, 0);
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 0);

    /*-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility:hidden;
		backface-visibility:hidden;*/
}

#Content-Container {
    position: absolute;
    margin-left: -500px;
    margin-top: -500px;
    left: 50%;
    top: 50%;
    width: 1000px;
    height: 105vh;
}

#Carousel-Container {
    position: absolute;
    margin-left: -500px;
    margin-top: -500px;
    left: 50%;
    top: 50%;
    width: 1000px;
    height: 1000px;
}

.Carousel-Item {
    width: 320px;
    height: 130px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -160px;
    margin-top: -90px;
    visibility: hidden;
}

.Carousel-Item-Inner {
    width: 350px;
    height: 140px;
    position: absolute;
    background-color: rgba(255, 255, 255, .0);
    color: black;
    font-size: 1.5em;
    left: 50%;
    top: 50%;
    margin-left: -160px;
    margin-top: -160px;
    text-align: center;
}

.Carousel-Instruction-Text {
    text-align: right;
    text-transform: uppercase;
    margin-top: 270px;
    margin-right: 60px;
}
/* END */

/* INDEX LAID OUT PORTFOLIO */
.index-portfolio-grid-title {
    text-align: center;
    margin-top: 100px;
    text-transform: uppercase;
}

.index-portfolio-grid {
    display: grid;
    grid-template-columns: auto auto;
}

.portfolio-grid-title {
    text-align: center;
    margin-top: 100px;
    text-transform: uppercase;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: auto auto auto;
}

.portfolio-grid-piece {
    padding: 30px 0px 30px 0px;
    font-size: 1em;
/*    background-color: darkslategray;*/
}

.portfolio-grid-piece-content {
    align-content: center;
    text-align: center;
    margin-top: 10px;
}

.portfolio-thumbnail {
    border-radius: 10px;
    width: 450px;
}

/* COMIC READERS */
/* SPECIAL COLUMNS*/
.comic-reader_text {
    width: 100%;
    text-align: center;
}

.comic-reader_desktop {
    width: 100%;
    margin: auto;
}

.comic-reader_phone {
    display: block;
    width: 100%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.comic-tablet-width {
    flex-direction: column;
    width: 60%;
    margin: auto;
}

.tablet-letting-go-background {
    background-image: url(/img/portfolio/letting-go/!portfolio_letting-go_phone/alina-sandu--portfolio--letting-go--comic--digital-comic--webcomic--demo--original-story--lesbian--romantic-tragedy--80s--eighties--phone--page-000.jpg);
    background-repeat: repeat;
}

.tablet-fairy-door-background {
    background-color: white;
}

.tablet-fairy-door-background {
    background-color: white;
}

/* THE FAIRY DOOR */
#fairy-door_slider {
    position: relative;
    overflow: hidden;
    margin: 10px auto 0px auto;
    border-radius: 4px;
}

#fairy-door_slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 400px;
    list-style: none;
}

#fairy-door_slider ul li {
    position: relative;
    display: block;
    float: left;
    /*margin: 0;
  padding: 0;*/
    width: 1400px;
    height: 404px;
    background: #ccc;
    text-align: center;
    line-height: 300px;
}

/* LETTING GO */
/* SLIDER */
#letting-go_slider {
    position: relative;
    overflow: hidden;
    margin: 10px auto 0px auto;
    border-radius: 4px;
}

#letting-go_slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
}

/* Comic Size: 1110px x 700px */
#letting-go_slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 1110px;
    height: 700px;
    /*background: #ccc;*/
}

a.control_prev,
a.control_next {
    position: absolute;
    top: 45%;
    z-index: 999;
    display: block;
    padding: 1% 1%;
    width: auto;
    height: auto;
    /*background: #2a2a2a;*/
    color: rgba(255, 255, 255, 1.0);
    opacity: 0.8;
    cursor: pointer;
}

a.control_prev:hover,
a.control_next:hover {
    opacity: 0.6;
    -webkit-transition: all 0.2s ease;
}

a.control_prev {
    border-radius: 0 2px 2px 0;
}

a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
}

/* END */




/* ALL MEDIA QUERY */
/* ONLY ON DESKTOP */
@media only screen and (min-width: 1367px) {
/*
    .allpage-navigation-phone {
        display: none;
    }
*/
    
    .tablet-index-column {
        display: none;
    }

    .index-portfolio-grid-title {
        margin-top: 600px;
    }
    
    .index-portfolio-grid {
        display: column;
        grid-template-columns: auto auto auto;
    }
    
    .desktop-portfolio-column.right {
        display: block;
        width: 700px;
        height: 700px;
        overflow: scroll;
    }

    .tablet-portfolio-column {
        display: none;
    }

    .comic-reader_phone {
        display: none;
    }

    .comic-reader_phone-text {
        display: none;
    }

    .tablet-letting-go-background {
        display: none;
    }
    
    .tablet-fairy-door-background {
        display: none;
    }
}

/* Awkward In-Between */
/*
@media only screen and (max-width: 1370px) {
    .portfolio-thumbnail {
        width: 400px;
    }
}
*/

/*
@media only screen and (max-width: 920px) {
    .allpage-navigation-phone {
        display: none;
    }
    
    #Content-Container {
        display: none;
    }
    
    .Carousel-Instruction-Text {
        display: none;
    }
    
    .website-row {
        display: none;
    }
    
    .portfolio-thumbnail {
        width: 400px;
    }
}
*/

/* ONLY ON IPAD */
@media only screen and (max-width: 1366px) {
    .allpage-navigation {
        display: none;
    }
    
    .footer-bio-text {
        width: auto;
    }
    
    .footer-container {
        height: 100vh;
    }
    
    #Content-Container {
        display: none;
    }
    
    .Carousel-Instruction-Text {
        display: none;
    }

    .desktop-portfolio-aside {
        display: none;
    }

    .desktop-index-column.left,
    .desktop-index-column.right {
        display: none;
    }

    .desktop-portfolio-gallery {
        display: flex;
        width: 90%;
        margin: auto;
    }
    
    .index-portfolio-grid {
        display: column;
        grid-template-columns: auto auto auto;
    }

    .portfolio-piece-vertical {
        width: 100%;
    }
    
    .portfolio-thumbnail {
        width: 400px;
    }

    .website-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .desktop-portfolio-column.left {
        width: 100%;
    }

    .desktop-portfolio-column.right {
        display: flex;
        width: 100%;
        overflow: visible;
        margin: 30px 60px 40px 40px;
    }

    .portfolio-grid {
        width: 100%;
        grid-template-columns: auto auto;
    }

    .comic-reader_desktop {
        display: none;
    }

    .comic-reader_desktop-text {
        display: none;
    }
    
    .title-comic-reader {
        display: none;
    }
    
    .subtitle-comic-reader {
        display: none;
    }
}

@media only screen and (max-width: 1220px) {
    .index-portfolio-grid {
        display: column;
        grid-template-columns: auto auto;
    }
    
    .portfolio-thumbnail {
        width: 500px;
    }
}

@media only screen and (max-width: 1020px) {    
    .portfolio-thumbnail {
        width: 400px;
    }
}

/* Awkward Inbetween */
@media only screen and (max-width: 880px) {    
        .index-portfolio-grid {
        display: column;
        grid-template-columns: auto;
    }
    
    .portfolio-thumbnail {
        width: 90%;
    }
    
    .footer-logo {
        width: 100px;
        margin-bottom: 1.0em;
    }
    
    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 200px;
        padding: 30px;
        height: 100vh;
    }
    
    .footer-content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        text-align: justify;
        margin-left: 5px;
    }
}

/* ONLY ON PHONE */
/* Makes portfolio grid in a column for phone users */

/* Phone */
@media only screen and (max-width: 320px) {
    .allpage-navigation {
        display: none;
    }
    
    .allpage-navigation-phone {

    }
    
    .footer-logo {
        width: 100px;
        margin-bottom: 1.0em;
    }
    
    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 200px;
        padding: 30px;
        height: 120vh;
    }
    
    .footer-content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        text-align: justify;
        margin-left: 5px;
    }
    
    .index-portfolio-grid-title {
        text-align: center;
        margin-top: 50px;
    }
    
    .index-portfolio-grid {
        display: column;
        grid-template-columns: auto;
    }

    .desktop-portfolio-gallery {
        display: flex;
        width: 100%;
        margin: auto;
    }

    .portfolio-grid {
        display: column;
        grid-template-columns: auto;
    }

    .portfolio-thumbnail {
        width: 100%;
    }

    .desktop-index-column.left {
        display: column;
        width: 100%;
    }

    .website-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .desktop-portfolio-column.left {
        width: 100%;
    }

    .desktop-portfolio-column.right {
        width: 100%;
    }

    .portfolio-piece-vertical {
        width: 100%;
    }
}

