/* FOR ALL PAGES */
body {
  background-image: url("https://i.pinimg.com/originals/b1/aa/2c/b1aa2c6322c087183a432a7ede2695ae.gif");
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;
  height: 100%;
  font-family: "Kabel ITC", monospace;
  color: #FFFFFF;
  text-shadow: -1px -1px 4px rgba(0, 0, 0, .35);
  filter: dropshadow(color=#000000, offx=1, offy=1);
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.column {
  float: left;
  padding: 30px;
  margin-top: 30px;
}

/* Left column */
.column.left {
  width: 25%;
  z-index: 5;
  justify-content: center;
}

/* Column with main content*/
.column.right {
  width: 75%;
  justify-content: center;
}

/* Puts columns in a row */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (max-width: 768px) {
  .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  
  .column.left, .column.right {
    width: 100%;
  }
}

/* TYPOGRAPHY */
h1 {
  font-size: 40px;
  letter-spacing: 1.0px;
  margin-left: 30px;
}

h2 {
  font-size: 16px;
  letter-spacing: 1.0px;
  margin-left: 35px;
}

h3 {
  font-size: 14px;
  letter-spacing: 1.0px;
  margin-top: 5px;
  margin-left: 35px;
  text-decoration: none;
}

p {
  font-size: 16px;
  letter-spcing: 1.0px;
  margin-left: 35px;
}

a {
  color: rgba(255, 255, 255, .75);
  text-decoration: none;
}

a:hover {
  color: rgba(181, 71, 60);
}
/* END */


/* INDEX MAIN PAGE */
/* hardware accelatator class */	
	.trans3d
	{
		-webkit-transform-style: preserve-3d;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform-style: preserve-3d;
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform-style:preserve-3d;
		-ms-transform: translate3d(0, 0, 0);
		transform-style:preserve-3d;
		transform: translate3d(0, 0, 0);

		/*-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility:hidden;
		backface-visibility:hidden;*/
	}
	
	#contentContainer
	{
		position:absolute;
		margin-left:-500px;
		margin-top:-500px;
		left:50%;
		top:50%;
		width:1000px;
		height:1000px;
	}

@media only screen and (max-width: 768px) {
  #contentContainer {
    margin-top:-390px;
  }
}


	#carouselContainer
	{
		position:absolute;
		margin-left:-500px;
		margin-top:-500px;
		left:50%;
		top:50%;
		width:1000px;
		height:1000px;
	}
	
	.carouselItem
	{
		width:320px;
		height:130px;
		position:absolute;
		left:50%;
		top:50%;
		margin-left:-160px;
		margin-top:-90px;
		visibility:hidden;
	}
	
	.carouselItemInner
	{
		width:330px;
		height:140px;
		position:absolute;
		background-color:rgba(255, 255, 255, .0);
		color:black;
		font-size:30px;
		left:50%;
		top:50%;
		margin-left:-160px;
		margin-top:-160px;
		text-align:center;
	}
/* END */


/* PORTFOLIO LETTING GO */
/* SLIDER */
#slider {
  position: relative;
  overflow: hidden;
  margin: 0px auto 0 auto;
  /*border-radius: 4px;*/
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 400px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: inline;
  float: left;
  /*margin: 0;
  padding: 0;*/
  width: 1000px;
  height: 631px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

a.control_prev,
a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  /*background: #2a2a2a;*/
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover,
a.control_next:hover {
  opacity: 0;
  -webkit-transition: all 0.2s ease;
}

/*a.control_prev {
  border-radius: 0 2px 2px 0;
}*/

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

/* MEDIA QUERY */
@media only screen and (max-width: 1090px) {
  .column.right {
    display: none;
  }
}
/* END */